.upper{
    text-transform: uppercase;
}

/* Header */
.header{
    height: calc(100vh - 65px);
    display: flex;
    flex-direction: column;

}
.textMain{
    margin: 100px 0px 50px;
}

.header_content{
    display: flex;
    align-items: center;
}

.header_content .paragraphy{
    margin-right: 20px;
    width: 800px
}

.header_image{
    width: 400px;
    height: 200px;
    object-fit: cover;
}

/* Startup services */
.startup_about{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 100px 50px;
}

.startup_about .title{
    margin-bottom: 30px;
}

.startup_about .paragraphy{
    width: 900px
}

.startup_img{
    width: 300px;
    height: 300px;
}

#event{
    background-color: #E1E1E1;
}

#robot{
    flex-direction: row-reverse;
    background-color:  var(--primarycolor);
    color: var(--secondarycolor);
}

/* Nosso time */
.our_team{
    width: 70%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
}

.team_cards{
    width:100%;
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content:space-between;
}

#cards_left{
    margin-right: 80px;
}

.team_card{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.team_photo{
    width: 150px;
    height: 150px;
    background-color: var(--primarycolor);
    border-radius:150px;
    margin-right: 20px;
    object-fit: cover;
}

/* Startup values */
.cards_row{
    display: flex;
    justify-content:space-between;
    margin-bottom: 20px;
}

#row_one div:nth-child(1){
    background-color:#595656;
}

#row_one div:nth-child(2){
    background-color:#C4C4C4;
}

#row_one div:nth-child(3){
    background-color:#F0EBEB;
}

#row_two div:nth-child(1){
    background-color:#C4C4C4;
}

#row_two div:nth-child(2){
    background-color:#F0EBEB;
}

#row_two div:nth-child(3){
    background-color:#595656;
}

.value_card{
    width: 32%;
    height: 350px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 60px 30px;
    background-color: var(--graydark);
}

.value_card .title{
    margin-bottom: 20px;
}
.teste{
    display: flex;
    align-items: flex-end;
}
.next_button{
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.button{
    margin-left: 10px;
    margin-bottom: 20px;
}

@media (max-width: 480px) {
    /* Header */
    .header{
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .textMain{
        margin: 50px 0px 0px;
    }

    .header_content{
        flex-direction:column;
    }

    .header_content .paragraphy{
        text-align: justify;
        width: 100%;
    }

    .header_image{
        width: 80%;
        height: 200px;
        margin: 0px auto;
    }

    /* Startup services */
    .startup_about{
        padding: 50px 10px;
        flex-direction: column;
    }

    .startup_about .paragraphy{
        width: 100%
    }

    .startup_img{
        margin-top: 20px;
        width: 150px;
        height: 150px;
    }

    #robot{
        flex-direction: column;
    }

    /* Nosso time */
    .our_team{
        width: 100%;
        margin: 50px 0px;
        align-items: center;
        text-align: center;
    }

    .team_cards{
        margin-top: 40px;
        flex-direction: column;
    }

    #cards_left{
        margin-right: 0px;
    }

    .team_card{
        flex-direction: column;
        margin-bottom: 40px;
    }

    .team_photo{
        width: 90px;
        height: 90px;
        border-radius:90px;
        margin-right: 10px;

    }

    /* Startup values */
    .cards_row{
        flex-direction: column;
        margin-bottom: 0px;
    }

    .value_card{
        width: 100%;
        height: 400px;
        padding: 60px 30px;
        margin-bottom: 20px;
    }

}

@media (min-width:481px) and (max-width: 768px) {
    .header{
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .textMain{
        margin: 50px 0px 20px;
    }

    .header_content{
        flex-direction:column;
    }

    .header_content .paragraphy{
        text-align: justify;
        width: 100%;
    }
    
    .header_image{
        width: 80%;
        height: 200px;
        margin: 50px auto;

    }

    /* Startup services */
    .startup_about{
        padding: 50px 30px;
        flex-direction: column;
    }

    .startup_about .paragraphy{
        width: 100%
    }

    .startup_img{
        margin-top: 20px;
        width: 150px;
        height: 150px;
    }

    #robot{
        flex-direction: column;
    }

    /* Nosso time */
    .our_team{
        width: 100%;
        margin: 50px 0px;
        align-items: center;
        text-align: center;
    }

    .team_cards{
        margin-top: 40px;
        flex-direction: column;
    }

    #cards_left{
        margin-right: 0px;
    }

    .team_card{
        flex-direction: column;
        margin-bottom: 40px;
    }

    .team_photo{
        width: 200px;
        height: 200px;
        border-radius:200px;
        margin-right: 10px;
    }

    /* Startup values */
    .cards_row{
        flex-direction: column;
        margin-bottom: 0px;
    }

    .value_card{
        width: 100%;
        height: auto;
        padding: 60px 30px;
        margin-bottom: 20px;
    }

}

